/* RESET & TYPOGRAPHY */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
	font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #333;
	background-color: #fff;
}
@media screen and (min-width: 500px) and (min-height: 500px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) and (min-height: 800px) {
  body {
    font-size: 22px;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 500;
  line-height: 1.25;
}
a {
  font-weight: 500;
	color: #ea4e16;
  text-decoration: none;
}
a, .project-title {
  color: #ea4e16;
  box-shadow: inset -10em -2px 0 2;
}
a:hover,
.project-title:hover {
  box-shadow: inset 0 -2px;
  transition: box-shadow 0.3s;
}
a:focus,
.project-title:focus,
a:active,
.project-title:active {
  color: #ea4e16;
  border: 0;
  outline : 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0.5em;
}
ul,
ol {
  padding-left: 2.5em;
}
li {
  margin-bottom: 0.5em;
}
strong {
  font-weight: 500;
  font-style: italic;
}
img {
	width: 100%;
  margin: 0 0 0.8em;
}

/* LAYOUT */
body {
	width: 100%;
}
header,
.content {
	width: 85%;
	margin: 1.5em auto;
}
@media screen and (min-width: 1000px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  body {
    width: 60%;
  }
}
@media screen and (min-width: 1800px) {
  body {
    width: 1200px;
  }
}

/* HEADER */
header {
	margin: 2.2em auto 0;
  font-weight: 500;
  overflow: auto;
  height: 1.8em;
}
.header-left {
	float: left;
}
.header-right {
	float: right;
}

/* HOME PAGE */
.intro {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .intro {
    width: 85%;
  }
}
@media screen and (min-width: 800px) {
  .intro {
    width: 75%;
  }
}
@media screen and (min-width: 1000px) {
  .intro {
    width: 65%;
  }
}
.hero {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.2;
}
.hero-sub {
  margin: 1em 0;
  font-weight: 400;
  line-height: 1.4;
}
.contact {
  text-align: center;
  margin: 3em auto 0;
}
.contact a {
  padding: 0.8em 2em 0.7em;
  color: #fff;
  background-color: #ea4e16;
}

/* PORTFOLIO ITEMS */
.project {
  margin: 2em auto;
}
.project-title {
  display: inline;
  /* margin: 0.2em 0 0.8em; */
}
.project-subtitle {
  margin-top: 0.8em;
  color: #333;
  font-weight: 400;
  font-style: italic;
}
@media screen and (min-width: 500px) {
  .project-title,
  .project-subtitle {
  	display: inline;
  }
  .project-subtitle {
    margin-left: 0.5em;
  	color: #333;
    font-weight: 400;
  }
}
.project-img {
  margin: 0 0 0.2em;
  padding: 0;
}

/* PAGE */
.page-title {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 0.2em;
}
.page-subtitle {
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
.no-header-margin {
  margin-top: 4em;
}
.smallinfo {
  font-style: italic;
}
.smallinfo,
figcaption {
  font-size: 0.85em;
}
.text > p,
.text > ul,
.text > ol {
  padding-left: 1.3em;
  padding-right: 0.3rem;
}
.text > p {
  padding-left: 0.3rem;
}
.text > h2,
.text > h3,
.text > h4 {
  margin-top: 1.6em;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
@media screen and (min-width: 900px) {
  .text > p,
  .text > ul,
  .text > ol {
    width: 80%;
    margin: 1.3em auto;
  }
  .text > h2,
  .text > h3,
  .text > h4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.text img {
  width: 100%;
  margin: 0.5em auto;
}
.page-header-img {
  margin: 0;
}
figure {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 500px) {
  .fig-half {
    float: right;
    width: 48%;
    margin-left: 0;
    margin-right: 0;
  }
  .fig-left {
    float: left;
  }
}
.with-caption {
  overflow: auto;
}
.with-caption img {
  margin-bottom: 0;
}
figcaption {
  margin: 0.7em 0;
  color: #777;
  font-style: italic;
}

/* FOOTER */
footer {
	text-align: center;
	margin: 5em 0 2em;
	font-size: 1em;
}

/* UTILITIES */
.clear {
	clear: both;
}
