/* RESET & TYPOGRAPHY */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (min-width: 500px) and (min-height: 500px) {
  html, body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) and (min-height: 800px) {
  html, body {
    font-size: 22px;
  }
}
body {
	color: #333;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 500;
  line-height: 1.25;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: #ea4e16;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin-top: 0;
  margin-bottom: 0.5em;
}
ul, ol {
  padding-left: 1em;
}
p, li {
  margin-bottom: 1em;
}
hr {
  width: 50%;
  margin: 3em auto;
  color: #333;
}

/* LAYOUT */
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
.project-link {
  display: block;
  margin-bottom: 3rem;
}
.description p + a::after {
  content: " →";
}
.project-link img {
  width: 100%;
  margin-top: 0.5rem;
}
.description > p {
  margin-bottom: 0;
}
.description > a {
  display: inline-block;
  margin-top: 0.5em;
}

/* INDIVIDUAL ELEMENTS */
.intro {
  margin: 4rem 0 2rem;
  font-size: 1.5em;
  max-width: 460px;
}
.title {
  margin: 3rem 0 2rem;
  font-size: 1.5em;
}
.links {
  margin-bottom: 2rem;
}
h4 {
  margin-bottom: 0;
}
.project-link img.border {
  border: 1px solid #ddd;
}
img.shadow {
  box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
}

/* FOOTER */
footer {
	text-align: center;
	margin: 5em 0 2em;
	font-size: 1em;
}

@media screen and (min-width: 750px) {
  .small-thumb {
    display: flex;
    justify-content: space-between;
  }
  .small-thumb .description {
    order: 2;
    width: 45%;
    display: block;
  }
  .small-thumb .project-link {
    display: block;
    width: 50%;
    margin-bottom: 1.5rem;
  }
  .smaller .project-link {
    width: 30%;
  }
  .smaller .description {
    width: 65%;
  }
  .small-thumb img,
  .small-thumb p {
    margin-top: 0;
  }
}
